<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Home </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>My Task App</strong>
    <p>
      Start with Ionic
      <ion-item class="ion-text-center">
        <ion-button href="../my-login">Redirect to login page</ion-button>
      </ion-item>
      <!-- <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components"
        >UI Components</a -->
    </p>
  </div>
</ion-content>
